/* ANNOUNCEMENT CAROUSEL TEXT */
.paragraph--announcement-message {
    margin: 0;
    padding: 0;
    font-family: 'Gotham', 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    font-weight: 700 !important;
    color: #FFFFFF !important;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 44px;
}

.paragraph--announcement-message-with-truck {
    margin: 0;
    padding: 0 0 0 60px;
    font-family: 'Gotham', 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    font-weight: 700 !important;
    color: #FFFFFF !important;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 44px;
    background-image: url('https://mundooutdoorar.vteximg.com.br/arquivos/icono_camion_blanco.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 59px 33px;
}

.paragraph--aqui-menu{
    width: 784px;
    height: 30px;
    background: lightgray;
}

@media (max-width: 640px) {

    .paragraph--aqui-menu{
        overflow: hidden;
        width: 24px;
        height: 24px;
        background: lightgray;
    }

    .paragraph--announcement-message {
        font-size: 12px;
        padding: 0;
        font-weight: 700 !important;
        color: #FFFFFF !important;
    }

    .paragraph--announcement-message-with-truck {
        font-size: 12px;
        padding: 0 0 0 52px;
        background-size: 48px 26px;
    }

}