/* ICONO FAVORITOS */

.link--wish-list-button{
    margin-left: 22px;
    width: 21px !important;
    height: 21px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Cpath d='M19.0733 6.35468C18.6113 4.63268 17.2524 3.27555 15.5287 2.81443C13.8399 2.36468 12.0462 2.82143 10.5018 4.0718C9.37479 3.15218 8.12616 2.6543 6.85129 2.62455C5.46616 2.6053 4.17379 3.11193 3.19904 4.08405C1.36679 5.91368 0.966912 9.21768 3.74679 11.9932L9.88054 18.1182C10.052 18.2888 10.276 18.3746 10.5 18.3746C10.724 18.3746 10.948 18.2888 11.1195 18.1182L17.2533 11.9932C18.9237 10.3254 19.5869 8.27005 19.0733 6.35468ZM16.0143 10.7559L10.5 16.2623L4.98579 10.7559C2.92866 8.70055 3.25941 6.49905 4.43804 5.3213C5.00766 4.75255 5.81616 4.38155 6.73316 4.38155C7.71316 4.38155 8.81654 4.80593 9.87966 5.86818C10.2218 6.2103 10.7765 6.2103 11.1187 5.86818C13.1592 3.83118 15.3563 4.17243 16.5332 5.34843C17.1667 5.98193 17.5053 6.82193 17.4887 7.71355C17.4694 8.76093 16.9593 9.81268 16.0143 10.7559Z' fill='%23090A10'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 640px) {

    .link--wish-list-button{
        margin-left: 15px;
    }

}

/* FIN ICONO FAVORITOS */