/* ---- Gotham ----- */
@font-face {
  font-family: 'Gotham';
  src: url(https://mundooutdoorar.myvtex.com/arquivos/Gotham-Thin.otf.css);
  font-weight: 200;
}
@font-face {
  font-family: 'Gotham';
  src: url(https://mundooutdoorar.myvtex.com/arquivos/Gotham-Light.otf.css);
  font-weight: 300;
}
@font-face {
  font-family: 'Gotham';
  src: url(https://mundooutdoorar.myvtex.com/arquivos/Gotham-Regular.otf.css);
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham';
  src: url(https://mundooutdoorar.myvtex.com/arquivos/Gotham-Medium.otf.css);
  font-weight: 500;
}
@font-face {
  font-family: 'Gotham';
  src: url(https://mundooutdoorar.myvtex.com/arquivos/Gotham-Bold.otf.css);
  font-weight: 700;
}

@font-face {
  font-family: 'GothamBook';
  src: url(https://mundooutdoorar.myvtex.com/arquivos/GothamBook.ttf.css);
}