.shippingTableBody .shippingTableRow{
    display: none;
}

.shippingTableBody .shippingTableRow:nth-child(0n+1){
    display: block;
}
.shippingTableBody .shippingTableRow:nth-child(0n+2){
    display: block;
}
.shippingTableBody .shippingTableRow:nth-child(0n+3){
    display: block;
}
.shippingTableBody .shippingTableRow:nth-child(0n+4){
    display: block;
}
.shippingTableBody .shippingTableRow:nth-child(0n+5){
    display: block;
}