.wrapperDescriptionSpecification{
    margin-top: 59px;
}

.containerDescriptionPDP{
    display: flex;
    flex-direction: column;
    contain: content;
    height: 48px;
    transition: .3s;
    border-bottom: 1px solid #E9EAED;
}

.descriptionExpandableHeader{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
}

.containerDescriptionPDP .descriptionExpandableHeader p{
    pointer-events: none;
    font-family: 'Gotham';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

@media (max-width: 640px) {

    .containerDescriptionPDP .descriptionExpandableHeader p{
        font-size: 18px;
    }

}

.containerDescriptionPDP .descriptionExpandableHeader img{
    pointer-events: none;
    width: 18px;
    height: 18px;
    transition: .3s;
}

.descriptionExpandableModal{
    padding-top: 5px;
    padding-bottom: 15px;
}

.descriptionExpandableModal div{
    font-family: 'GothamBook';
    font-size: 15px;
    line-height: 21px;
    color: #090A10;
}

.descriptionExpandableModal p{
    font-family: 'GothamBook';
    font-size: 15px;
    line-height: 21px;
    color: #090A10;
}

.containerSpecificationPDP{
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    contain: content;
    height: 48px;
    transition: .3s;
}

.specificationExpandableHeader{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
}

.specificationExpandableHeader p{
    pointer-events: none;
    font-family: 'Gotham';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

@media (max-width: 640px) {

    .specificationExpandableHeader p{
        font-size: 18px;
    }

}

.specificationExpandableHeader img{
    pointer-events: none;
}

.specificationExpandableModal{
    display: flex;
    border-radius: 4px;
    border: 1px solid #E9EAED;
}

.specificationColumnLeft{
    width: 50%;
}

.specificationColumnLeft div{
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    height: 48px;
    font-family: 'GothamBook';
    font-size: 15px;
    line-height: 24px;
    color: #676F79;
    background: #FFFFFF;
}

@media (max-width: 640px) {

    .specificationColumnLeft div{
        font-size: 14px;
    }

}

.specificationColumnLeft div:nth-child(odd){
    background: #F4F5F6;
}

.specificationColumnRight{
    width: 50%;
}

.specificationColumnRight div{
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    height: 48px;
    font-family: 'GothamBook';
    font-size: 15px;
    line-height: 24px;
    color: #090A10;
    background: #FFFFFF;
}

@media (max-width: 640px) {

    .specificationColumnRight div{
        font-size: 14px;
    }

}

.specificationColumnRight div:nth-child(odd){
    background: #F4F5F6;
}