.containerSearchBar{
    margin-left: 111.5px;
}

.drawerSearchBar{
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M10.2641 17.4C8.84001 17.4 7.44795 16.9777 6.2639 16.1866C5.07985 15.3954 4.157 14.2709 3.61204 12.9553C3.06708 11.6397 2.9245 10.192 3.20232 8.79535C3.48013 7.39869 4.16587 6.11577 5.17282 5.10883C6.17977 4.1019 7.46271 3.41616 8.85939 3.13835C10.2561 2.86054 11.7038 3.00312 13.0194 3.54807C14.335 4.09302 15.4595 5.01586 16.2507 6.1999C17.0419 7.38393 17.4641 8.77597 17.4641 10.2C17.462 12.1089 16.7027 13.939 15.3529 15.2888C14.0031 16.6386 12.173 17.3979 10.2641 17.4ZM10.2641 4.8C9.19602 4.8 8.15197 5.11671 7.26394 5.71007C6.3759 6.30343 5.68376 7.14679 5.27504 8.13351C4.86633 9.12023 4.75939 10.206 4.96775 11.2535C5.17611 12.301 5.69042 13.2632 6.44563 14.0184C7.20084 14.7736 8.16304 15.2879 9.21055 15.4962C10.2581 15.7046 11.3438 15.5977 12.3306 15.1889C13.3173 14.7802 14.1607 14.0881 14.754 13.2001C15.3474 12.3121 15.6641 11.268 15.6641 10.2C15.6627 8.76827 15.0933 7.39559 14.0809 6.3832C13.0685 5.37082 11.6958 4.80143 10.2641 4.8Z' fill='%23434343'/%3E%3Cpath d='M20.1641 21C19.9255 20.9999 19.6966 20.9051 19.5278 20.7363L15.9278 17.1363C15.7639 16.9666 15.6731 16.7392 15.6752 16.5032C15.6772 16.2673 15.7719 16.0415 15.9388 15.8747C16.1056 15.7078 16.3314 15.6131 16.5673 15.6111C16.8033 15.609 17.0307 15.6998 17.2004 15.8637L20.8005 19.4637C20.9263 19.5896 21.012 19.7499 21.0467 19.9245C21.0814 20.099 21.0636 20.28 20.9955 20.4444C20.9274 20.6088 20.812 20.7494 20.6641 20.8483C20.5161 20.9472 20.3421 21 20.1641 21Z' fill='%23434343'/%3E%3C/svg%3E");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.modalSearchBar{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba( 0, 0, 0, 0.4 );
}

.closeModalSearchBar{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15px;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M13.4115 12L18.6952 6.71628C18.7906 6.62419 18.8666 6.51404 18.919 6.39225C18.9713 6.27046 18.9988 6.13947 19 6.00692C19.0011 5.87438 18.9759 5.74293 18.9257 5.62025C18.8755 5.49756 18.8013 5.38611 18.7076 5.29238C18.6139 5.19865 18.5024 5.12453 18.3798 5.07434C18.2571 5.02414 18.1256 4.99889 17.9931 5.00004C17.8605 5.00119 17.7295 5.02873 17.6078 5.08104C17.486 5.13336 17.3758 5.20941 17.2837 5.30475L12 10.5885L6.71628 5.30475C6.528 5.12291 6.27584 5.0223 6.01411 5.02457C5.75237 5.02685 5.502 5.13183 5.31691 5.31691C5.13183 5.502 5.02685 5.75237 5.02457 6.01411C5.0223 6.27584 5.12291 6.528 5.30475 6.71628L10.5885 12L5.30475 17.2837C5.20941 17.3758 5.13336 17.486 5.08104 17.6078C5.02873 17.7295 5.00119 17.8605 5.00004 17.9931C4.99889 18.1256 5.02414 18.2571 5.07434 18.3798C5.12453 18.5024 5.19865 18.6139 5.29238 18.7076C5.38611 18.8013 5.49756 18.8755 5.62025 18.9257C5.74293 18.9759 5.87438 19.0011 6.00692 19C6.13947 18.9988 6.27046 18.9713 6.39225 18.919C6.51404 18.8666 6.62419 18.7906 6.71628 18.6952L12 13.4115L17.2837 18.6952C17.472 18.8771 17.7242 18.9777 17.9859 18.9754C18.2476 18.9732 18.498 18.8682 18.6831 18.6831C18.8682 18.498 18.9732 18.2476 18.9754 17.9859C18.9777 17.7242 18.8771 17.472 18.6952 17.2837L13.4115 12Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}