.paragraph--title-tendencias{
    font-family: 'Gotham Ultra', 'Gotham Black', 'Gotham Bold', 'Gotham', sans-serif;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: 1.2px;
    color: #0F0F0F;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

@media (max-width: 640px) {

    .paragraph--title-tendencias{
        font-size: 28px;
    }

}
