/* CONTENEDOR SLIDER TALLES  */

.flexRow--custom-sku-slider-container{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    height: 285px;
    background: lightcyan;
}

.flexRowContent--custom-sku-slider-container{
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.flexRowContent--custom-sku-slider-container .stretchChildrenWidth:nth-child(0n+1){
    transition: .1s;
    opacity: 0;
    visibility: hidden;
    min-width: 100%;
}

.flexRowContent--custom-sku-slider-container:hover .stretchChildrenWidth:nth-child(0n+1){
    opacity: 1;
    visibility: visible;
}

.flexRowContent--custom-sku-slider-container .stretchChildrenWidth:nth-child(0n+2){
    display: none;
}
  
/* FIN CONTENEDOR SLIDER TALLES  */