/*ancho de los product boxs en desktop*/
/*ancho de los product boxs en mobile*/
/*alto de los product boxs en desktop*/
/*alto de los product boxs en mobile*/
/*curvatura de las esquinas del product box*/
/*ancho del borde del product box*/
/*color del borde del product box*/
.containerNormal {
  align-items: center;
  max-width: none !important;
}

.clearLink {
  width: 285px;
  height: 486px;
  box-sizing: border-box;
  border-radius: 0px;
  border: 1px solid #E9EAED;
  background: #CCCCCC;
}

.element {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 285px;
}
.element .nameContainer {
  margin: 0;
  padding: 0;
}
.element .priceContainer {
  margin: 0;
  padding: 0;
}
.element :global(.vtex-button) {
  border: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 640px) {
  .clearLink {
    width: 170px;
    height: 346px;
  }
  .element {
    width: 170px;
  }
}
