/* imagen product box home */
.imageNormal{
    width: 285px;
    height: 285px;
    object-fit: cover;
}

@media (max-width: 640px) {

    .imageNormal{
        width: 170px;
        height: 170px;
    }

}
/* fin imagen product box home */

/* imagen product box PLP */
:global(.vtex-search-result-3-x-searchResultContainer) .imageNormal{
    width: 235px;
    height: 235px;
}

@media (max-width: 640px) {

    :global(.vtex-search-result-3-x-searchResultContainer) .imageNormal{
        width: 170px;
        height: 170px;
    }

}
/* fin imagen product box PLP */

.element{
    box-sizing: border-box;
    border: 1px solid var(--border-gray);
}

.element:hover{
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}

.element:hover :global(.vtex-flex-layout-0-x-flexRow--sku-selector-talles-container){
    visibility: visible;
    opacity: 1;
}

.element:hover :global(.vtex-button-add-to-cart-custom){
    visibility: visible;
    opacity: 1;
}

.element:hover :global(.vtex-button){
    visibility: visible;
    opacity: 1;
}

.productBrandContainer{
    margin-top: 16px;
}

@media (max-width: 640px) {

    .productBrandContainer{
        margin-top: 12px;
    }

    .imageStackContainer{
        height: 170px;
    }

}

.productBrandName{
    font-family: "Gotham";
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.14px;
    color: #676F79;
}

.nameContainer{
    margin: 0;
    padding: 0;
    margin-top: 8px;
    min-height: 42px;
}

.brandName{
    font-family: 'GothamBook';
    font-size: 14px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 640px) {

    .brandName{
    }

}

.priceContainer{
    margin: 0;
    padding: 0;
    margin-top: 6px;
}

.priceContainer .price_className{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
}

.price_installmentContainer{
    display: none;
}

.price_sellingPriceContainer{
    margin: 0;
    padding: 0;
}

.price_sellingPriceContainer .price_sellingPriceLabel{
    display: none;
}

.price_sellingPriceContainer :global(.vtex-store-components-3-x-sellingPriceValue){
    margin: 0;
    padding: 0;
}

.currencyContainer{
    font-family: "Gotham";
    font-size: 16px;
    font-weight: 500;
    color: var(--color-red-1);
}

.clearLink .element{
    position: relative;
}

.clearLink :global(.vtex-button){
    visibility: hidden;
    opacity: 0;
    margin-left: -1px;
    margin-bottom: -1px;
    position: absolute;
    bottom: 0;
    width: 285px;
    min-height: auto;
    max-height: 32px;
    height: 32px;
    border: none;
    border-radius: 0px;
    background: #CD4F4F;
}

@media (max-width: 640px) {

    .clearLink :global(.vtex-button){
        visibility: visible;
        opacity: 1;
        width: 170px;
    }

}

.clearLink :global(.vtex-button):hover{
    background: #b54545;
}

.clearLink :global(.vtex-button) :global(.vtex-button__label){
    margin: 0 !important;
    padding: 0 !important;
}

.clearLink :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText){
    font-family: 'Gotham';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-transform: none;
}

.price_listPriceContainer{
    margin: 0;
    padding: 0;
}

.price_listPriceContainer .price_listPriceLabel{
    display: none;
}

.price_listPriceContainer .price_listPrice{
    margin: 0;
    padding: 0;
}

.price_listPriceContainer .price_listPrice .currencyContainer{
    display: flex;
    align-items: center;
    font-family: 'Gotham';
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    color: #676F79;
    text-decoration-color: #676F79;
}