.flexRow--section-image-and-cucardas-container{
    position: relative;
}

.flexRowContent--section-image-and-cucardas-container{
    max-height: 285px;
}

.flexRow--sku-selector-talles-container{
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
}