.flexRow--section-image-and-cucardas-container-grande{
    position: relative;
}

.flexRowContent--section-image-and-cucardas-container-grande{
    max-height: 450px;
}

@media (max-width: 640px) {

    .flexRowContent--section-image-and-cucardas-container-grande{
        max-height: 170px;
    }

}

.flexRow--sku-selector-talles-container-grande{
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
}

@media (max-width: 640px) {

    .flexRow--sku-selector-talles-container-grande{
        visibility: visible;
        opacity: 1;
    }

}

.flexRowContent--sku-selector-color-container-grande{
    margin-top: 14px;
}

@media (max-width: 640px) {

    .flexRowContent--sku-selector-color-container-grande{
        margin-top: 11px;
    }

}

/* CONTENEDOR DE CUCARDAS GRANDE */
.flexRow--cucardas-container-grande{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 450px;
}

.flexRowContent--cucardas-container-grande{
    height: 100%;
}

.flexRowContent--cucardas-container-grande .stretchChildrenWidth{
    min-width: 100%;
    height: 100%;
}

.flexRowContent--cucardas-container-grande :global(.vtex-product-price-1-x-savingsPercentage){
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Gotham";
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    background: #FF2D55;
    border-bottom-right-radius: 80px;
    text-transform: uppercase;
}
/* FIN CONTENEDOR DE CUCARDAS GRANDE */
