*{
    padding: 0;
    margin: 0;
}

.contGralSlider{
    pointer-events: auto;
    user-select: none;
    overflow: hidden;
    margin: auto;
    /* margin-top: 60px;*/
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 249px;
    max-width: 249px;/*MODIFICAR*/
    height: 32px;
    background: blue;
}

@media (max-width: 640px) {

    .contGralSlider{
        max-width: 320px;/*MODIFICAR*/
    }
    
}

.wrapperSlider{
    overflow: hidden;
    width: 163px; /* MODIFICAR, ESTE WIDTH ES PARA UN MAXIMO DE 4 TALLES EN VISTA*/
}

.contSlider{
    touch-action: none;
    user-select: none;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    height: 32px;
    background: palevioletred;
    transition: .3s;
}

@media (max-width: 640px) {

    .contSlider{
        min-width: 340px;/*MODIFICAR*/
    }
    
}

.item{
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    padding: 0px;/*MODIFICAR*/
    width: 32px;/*MODIFICAR*/
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
    box-sizing: border-box;
    border: 1px solid #CCD5E0;
    background: rgb( 255, 255, 255, 0.5 );
}

.item.active{
    border: none;
    background: rgb( 0, 0, 0, 0.9 );
}

@media (max-width: 640px) {

    .item{
        width: 340px;/*MODIFICAR*/
    }
    
}

.productBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Gotham';
    font-size: 12px;
    font-weight: 500;
    line-height: 16.56px;
    letter-spacing: 0.1px;
}

.item.active .productBox{
    color: #FFFFFF;
}

.btn_move_item{
    user-select: none;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    width: 9px;
    height: 16px;
    background: green;
}

.btn_move_item.right{
    user-select: none;
    right: 0;
}

.btn_move_item.left{
    user-select: none;
    left: 0;
}

@media (max-width: 600px) {
 
    .btn_move_item{
        /* display: none; */
    }

}
