@charset "UTF-8";
/*alto de los product boxs en desktop*/
/*alto de los product boxs en mobile*/
/*ancho maximo de slider en desktop*/
/*ancho maximo de slider en mobile*/
/*ancho de los product boxs en desktop*/
/*ancho de los product boxs en mobile*/
/*cantidad de product boxs que se muestran en este slider en desktop*/
/*cantidad de product boxs que se muestran en este slider en mobile*/
/*separacion gap entre los product boxs desktop*/
/*separacion gap entre los product boxs mobile*/
/**/
/*OPERACIONES MATEMATICAS*/
/*FIN OPERACIONES MATEMATICAS*/
:global(.vtex-flex-layout-0-x-flexRow--product-summary-container) {
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

:global(.vtex-flex-layout-0-x-flexRow--product-summary-container) :global(.vtex-store-components-3-x-container) {
  margin: 0;
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-summary-container) {
  margin-top: 34px;
  max-width: 1214px;
  width: 1214px;
}

.sliderLayoutContainer--product-summary-slider {
  align-items: flex-start;
}
.sliderLayoutContainer--product-summary-slider .sliderTrackContainer--product-summary-slider {
  height: 578px;
}

.sliderLayoutContainer--product-summary-slider .sliderTrackContainer--product-summary-slider .sliderTrack--product-summary-slider{
  max-height: 521px;
  height: 521px;
}

@media (max-width: 640px) {

  .sliderLayoutContainer--product-summary-slider .sliderTrackContainer--product-summary-slider .sliderTrack--product-summary-slider{
    max-height: 390px;
    height: 390px;
  }

}
.sliderLayoutContainer--product-summary-slider .sliderTrackContainer--product-summary-slider :global(.vtex-product-summary-2-x-containerNormal) {
  overflow: unset;
  align-items: center;
  display: flex;
}
.sliderLayoutContainer--product-summary-slider .sliderTrackContainer--product-summary-slider :global(.vtex-product-summary-2-x-containerNormal) :global(.vtex-product-summary-2-x-clearLink) {
  min-width: 285px;
  max-width: 285px;
  width: 285px;
  background: var(--color-white);
}
.sliderLayoutContainer--product-summary-slider .sliderTrackContainer--product-summary-slider :global(.vtex-product-summary-2-x-containerNormal) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element){
  cursor: pointer;
  margin: 0;
  padding: 0;
}

@media (max-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexRow--product-summary-container) {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 350px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--product-summary-container) {
    max-width: 360px;
    width: 360px;
  }
  .sliderLayoutContainer--product-summary-slider .sliderTrackContainer--product-summary-slider {
    height: 418px;
  }
  .sliderLayoutContainer--product-summary-slider .sliderTrackContainer--product-summary-slider :global(.vtex-product-summary-2-x-containerNormal) :global(.vtex-product-summary-2-x-clearLink) {
    min-width: 170px;
    max-width: 170px;
    width: 170px;
  }
}
/*ancho de los dots desktop*/
/*alto de los dots desktop*/
/*ancho de los dots mobile*/
/*alto de los dots mobile*/
/*separacion que debe haber entre los dots desktop*/
/*separacion que debe haber entre los dots mobile*/
/*margen inferior de los dots para ubicarlos segun indique el diseño desktop*/
/*margen inferior de los dots para ubicarlos segun indique el diseño mobile*/
/*color de los dots*/
/*color del dot seleccionado*/
.paginationDotsContainer--product-summary-slider {
  gap: 8px;
}

.paginationDot--product-summary-slider {
  border: 0;
  margin: 0;
  padding: 0;
  width: 8px !important;
  height: 8px !important;
  background: #BDC9D6;
}

.paginationDot--product-summary-slider--isActive {
  background: #EB5757;
}

@media (max-width: 640px) {
  .paginationDotsContainer--product-summary-slider {
    gap: 8px;
  }
  .paginationDot--product-summary-slider {
    border: 0;
    margin: 0;
    padding: 0;
    width: 8px !important;
    height: 8px !important;
    background: #BDC9D6;
  }
  .paginationDot--product-summary-slider--isActive {
    background: #EB5757;
  }
}
/*ancho del contenedor de los botones para pasar de product boxs desktop*/
/*alto del contenedor de los botones para pasar de product boxs desktop*/
/*ancho del contenedor de los botones para pasar de product boxs mobile*/
/*alto del contenedor de los botones para pasar de product boxs mobile*/
/*margen de separacion que el boton izquerdo para pasar de product boxs debe tener con respecto al borde del slider en desktop*/
/*margen de separacion que el boton izquerdo para pasar de product boxs debe tener con respecto al borde del slider en mobile*/
/*image del boton izquerdo para pasar de product boxs*/
/*margen de separacion que el boton derecho para pasar de product boxs debe tener con respecto al borde del slider en desktop*/
/*margen de separacion que el boton derecho para pasar de product boxs debe tener con respecto al borde del slider en mobile*/
/*image del boton derecho para pasar de product boxs*/
/*ancho maximo de slider en desktop*/
/*ancho maximo de slider en mobile*/
/*ancho de los product boxs en desktop*/
/*ancho de los product boxs en mobile*/
/*cantidad de product boxs que se muestran en este slider en desktop*/
/*cantidad de product boxs que se muestran en este slider en mobile*/
/*separacion gap entre los product boxs desktop*/
/*separacion gap entre los product boxs mobile*/
/**/
.sliderArrows--product-summary-slider {
  border: 0;
  margin: 0;
  padding: 0;
  margin-top: 118px;
}

.caretIcon--product-summary-slider {
  display: none;
}

.sliderLeftArrow--product-summary-slider {
  margin-left: 10px;
}

.sliderLeftArrow--product-summary-slider::after {
  content: "";
  width: 35px;
  height: 42px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M10.77 16.7562L17.8963 23.4137C18.4 23.8837 19.1925 23.8587 19.6625 23.3537C20.1338 22.8487 20.1075 22.0574 19.6038 21.5862L12.5525 14.9999L19.6038 8.41368C20.1075 7.94243 20.135 7.15118 19.6638 6.64618C19.4175 6.38243 19.085 6.24993 18.75 6.24993C18.4438 6.24993 18.1375 6.36118 17.8963 6.58618L10.77 13.2437C10.2738 13.7087 10 14.3312 10 14.9999C10 15.6687 10.2738 16.2912 10.77 16.7562Z' fill='%23676F79'/%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sliderRightArrow--product-summary-slider {
  margin-right: 10px;
}

.sliderRightArrow--product-summary-slider::after {
  content: "";
  width: 35px;
  height: 42px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M19.2301 13.2438L12.1039 6.58632C11.6001 6.11632 10.8076 6.14132 10.3376 6.64632C9.86636 7.15132 9.89261 7.94257 10.3964 8.41382L17.4476 15.0001L10.3964 21.5863C9.89261 22.0576 9.86511 22.8488 10.3364 23.3538C10.5826 23.6176 10.9151 23.7501 11.2501 23.7501C11.5564 23.7501 11.8626 23.6388 12.1039 23.4138L19.2301 16.7563C19.7264 16.2913 20.0001 15.6688 20.0001 15.0001C20.0001 14.3313 19.7264 13.7088 19.2301 13.2438Z' fill='%2396A3B6'/%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 640px) {
  .sliderLeftArrow--product-summary-slider {
    margin-left: 4.5px;
  }
  .sliderLeftArrow--product-summary-slider::after {
    content: "";
    width: 0px;
    height: 0px;
  }
  .sliderRightArrow--product-summary-slider {
    margin-right: 4.5px;
  }
  .sliderRightArrow--product-summary-slider::after {
    content: "";
    width: 0px;
    height: 0px;
  }
}
