.modalTalleWrapper{
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.35);
}

.modalTalleWrapper.active{
    opacity: 1;
    visibility: visible;
}