.productInstallmentsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 6px;
}

.productInstallmentsText {
  font-family: "Gotham";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #008042;
  margin: 0;
}

@media (max-width: 640px) {
  .productInstallmentsContainer{
    margin-top: 6px;
    margin-bottom: 48px;
  }

  .productInstallmentsText{
    font-size: 11px;
    line-height: 14px;
  }
}
