.empty-cart-content {

  #cart-choose-products {
    background: var(--principal-color);
    border: none;
    box-shadow: none;
    border-radius: 4px;
    color: #ffff;
    font-size: 16.2px;
    font-weight: 600;
    text-shadow: none;
  }

  @media (max-width: 768px) {
    display: block;
    padding:0 20px 24px;
  }
}