.summary-template-holder {
  display: flex;
  align-items: flex-end;

  .summary {
    display: grid!important;
    background: #fff;

    @media(max-width:768px) {
      background: transparent;
    }
  }

  .cart-more-options {
    width: auto!important;
    margin: 0;
    grid-row: 3;

    .cart-select-gift-placeholder {
      display: none;
    }

    @media(max-width:768px) {
      height: auto;
      grid-row: 2;
    }
  }

  .summary-totalizers{
    width: 100%;
    margin: 0;
    background: #ffffff;
    padding: 0;
    border-radius: 4px 4px 0 0;

    &::before {
      content: "Resumen de compra";
      padding: 16px 24px;
      display: flex;
      font-size: 1rem;
      font-weight: 500;
      color: var(--black-color);
      border-bottom: 1px solid #E9EAED;
    }

    .summary-coupon {
      margin: 0;
      padding: 0 24px;
    }
    .coupon-fieldset {

      .coupon-data {
        display: none!important;
      }
      
      [data-bind="fadeVisible: isUsingCoupon()"] {
        display: block!important;
      }

      .coupon-label {
        display: flex;
        margin-top: 32px;

        label {
          font-size: 0;

          &::before {
            content: "Código de descuento";
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }

      .coupon-fields {

        span {
          display: flex;

          .coupon-value {
            width: 70%;
            padding: 12px;
            margin-right: 15px;
            font-size: 14px;
          }

          button {
            background: var(--principal-color);
            border: none;
            font-size: 0;
            font-weight: 600;
            color: #fff;
            padding-top: 8px;
            text-shadow: none;

            &::before {
              content: "Sumar";
              font-size: 14px;
            }
          }
        }

        .loading-coupon {
          height: max-content;
        }
        [data-i18n="cart.wait"] {
          display: none;
        }
      }
    }

    .accordion-body {
      margin-top: 24px;
      padding: 0 24px;

      tbody {

        tr {
          border-bottom: none;
        }
        .info {
          width: 50%;
          text-align: left;
          font-size: 14px;
        }
        .monetary {
          width: 50%;
          text-align: right;
          font-size: 14px;
        }
        .empty { display: none; }

      }

      .shipping-calculate {
        display: table-row-group;
      }

      tfoot {
        border-top: 1px solid #E9EAED;

        .info {
          width: 50%;
          text-align: left;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          padding-top: 16px;
        }
        .monetary {
          width: 50%;
          text-align: right;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          padding-top: 16px;
        }

      }
    }

    @media (max-width: 1024px) {
      float: initial;
      margin: 0 10px;
      width: calc(100% - 20px);
    }
  }

}