.container--title-slider-404{
    margin-top: 0px !important;
}

.paragraph--title-slider-404{
    font-family: 'Gotham';
    font-size: 31px;
    font-weight: 500;
    line-height: 37.2px;
    letter-spacing: -0.2px;
    color: #031826;
}

@media (max-width: 640px) {

    .paragraph--title-slider-404{
        font-family: 'Gotham';
        font-size: 20px;
    }

}