.savingsPercentage{
    font-family: 'Gotham';
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #EB5757;
}

@media (max-width: 640px) {
    
    .savingsPercentage{
        font-size: 18px;
    }

}