/* TEXT NEWSLETTER FORM  */

.paragraph--title-newsletter{
    margin-top: 11px;
    font-family: "Gotham";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-white);
    text-align: center;
}

.paragraph--form-success-ns{
    margin-top: 15px;
    font-family: "Gotham";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #aeabab;
    text-align: center;
}

/* FIN TEXT NEWSLETTER FORM  */

@media (max-width: 1024px) {

    .paragraph--title-newsletter{
        font-size: 16px;
        line-height: 22px;
    }

}

@media (max-width: 640px) {

    .paragraph--title-newsletter{
        font-size: 15px;
        line-height: 21px;
    }

}