/* TEXT NEWSLETTER FORM  */

.paragraph--title-newsletter{
    margin-top: 11px;
    font-family: "Gotham";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-white);
    text-align: center;
}

.paragraph--form-success-ns{
    margin-top: 15px;
    font-family: "Gotham";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #aeabab;
    text-align: center;
}

/* FIN TEXT NEWSLETTER FORM  */