

.filterItem :global(.vtex-checkbox__label){
    font-family: 'Gotham';
    height: 16px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--color-gray-3);
    text-transform: lowercase;
}

.filterItem :global(.vtex-checkbox__label)::first-letter{
    text-transform: uppercase;
}