/* TITLE FOOTER  */

.paragraph--title-footer{
    font-size: 14px;
    color: #000000;
}

/* FIN TITLE FOOTER  */

/* TEXT FOOTER  */

.paragraph--text-footer{
    font-size: 14px;
    color: #000000;
}

:global(.vtex-flex-layout-0-x-flexColChild--section-contacto) :global(.vtex-store-link-0-x-link){
    font-size: 14px;
    color: #000000;
}

/* FIN TEXT FOOTER  */