/* ICONOS SEGUINOS  */

.imageElementLink--link-redes-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 24px;
    width: 24px;
    height: 24px;
}

.imageElementLink--link-redes-footer :global(.vtex-store-components-3-x-imageElement){
    /* Forzar iconos a negro usando filtros sobre la imagen original */
    filter: grayscale(1) brightness(0);
}

/* FIN ICONOS SEGUINOS  */