/* ICONOS SEGUINOS  */

.imageElementLink--link-redes-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 24px;
    width: 24px;
    height: 24px;
}

/* FIN ICONOS SEGUINOS  */