.flexRow--nuevos-lanzamientos{
    
}

.flexRow--nuevos-lanzamientos :global(.vtex-store-components-3-x-container){
    margin: 0;
    padding: 0;
    margin: auto;
}

.flexRowContent--nuevos-lanzamientos{
    margin: auto;
    margin-top: 73px;
    justify-content: center;
    max-width: var(--max-width-content-desktop);
    width: var(--max-width-content-desktop);
}

@media (max-width: 640px) {

    .flexRowContent--nuevos-lanzamientos{
        margin-top: 45px;
        max-width: var(--max-width-content-mobile);
        width: var(--max-width-content-mobile);
    }

}