.paragraph--question-cambios-devoluciones{
    margin-top: 43px;
    font-family: 'GothamBook';
    font-size: 15px;
    line-height: 24px;
    color: #090A10;
}

.paragraph--text-cambios-devoluciones{
    margin-top: 14px;
    font-family: 'GothamBook';
    font-size: 15px;
    line-height: 24px;
    color: #090A10;
}